*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

body {
    background: #F2F2F2;
}

address {
    font-style: normal;
}

em {
    font-style: normal;
}
img {
    vertical-align: top;
    width: 100%;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color:#fff;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

.blind 